/* ===== RESET / BASE ===== */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none !important;
}
*::before,
*::after {
  cursor: none !important;
}


body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e5e7eb;
}

h1,
h2,
h3 {
  letter-spacing: 0.5px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  margin-top: 80px;
  font-size: 32px;
}

p {
  line-height: 1.6;
  max-width: 700px;
}